<launch>
<arg name="set_rviz_gui" default="False" />
<arg name="set_gazebo_gui" default="False" />
<arg name="set_debug" default="False" />

  <include file="$(find moto_project)/launch/common_estimation.launch">
    <arg name="view_segmentation" value="True" />
    <arg name="rviz_gui" default="$(arg set_rviz_gui)" />
    <arg name="set_debug" default="$(arg set_debug)" />
    <arg name="set_gazebo_gui" default="$(arg set_gazebo_gui)" />
  </include>
  

   <!-- spawn segmentation node -->
  <node name="seg_node" pkg="moto_project" type="yolact_node.py" respawn="true" />
  <node name="test" pkg="moto_project" type="test.py" respawn="true" />

</launch>
