<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:property name="rgbd_dim" value="0.1" /> <!-- Size of square 'camera' box -->
  <xacro:property name="height3" value="0.05" />
  <xacro:property name="rgbd_link_name" value="rgbd_camera" />
  <xacro:property name="rgbd_optical_link_name" value="rgbd_link_optical" />
  
  <link name="fixed">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="0 0 0"/>
      </geometry>
    </visual>

  </link>
  
  <joint name="rgbd_camera_joint" type="fixed">
    <origin xyz="-0.715859 0 0.392294" rpy="0 0.354062 0"/>
    <parent link="fixed"/>
    <child link="${rgbd_link_name}"/>
  </joint>
  
   <!-- Camera -->
  <link name="${rgbd_link_name}">
  
    <collision>
      <origin xyz="0 0 0 " rpy="0 0 0"/>
      <geometry>
	<box size="${rgbd_dim} ${rgbd_dim} ${rgbd_dim}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
	<box size="${rgbd_dim} ${rgbd_dim} ${rgbd_dim}"/>
      </geometry>
      <material name="red"/>
    </visual>

    <inertial>
      <mass value="1e-5" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1e-6" ixy="0" ixz="0" iyy="1e-6" iyz="0" izz="1e-6" />
    </inertial>
  </link>

  <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
      so that ros and opencv can operate on the camera frame correctly -->
  <joint name="rgbd_camera_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera image
        won't be aligned properly with the frame it is supposedly originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0 ${-pi/2}"/>
    <parent link="${rgbd_link_name}"/>
    <child link="${rgbd_optical_link_name}"/>
  </joint>

  <link name="${rgbd_optical_link_name}">
  </link>
  
    <gazebo reference="${rgbd_link_name}">
    <gravity>0</gravity>
  </gazebo>
    <gazebo reference="fixed">
    <gravity>0</gravity>
  </gazebo>

</robot>
