<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="tomato_soup">
 <xacro:property name="Ixx" value="0.0003007964210686857" />
 <xacro:property name="Ixy" value="-1.255282013320828e-07" />
 <xacro:property name="Ixz" value="-6.95944358584148e-07" />
 <xacro:property name="Iyy" value="0.0003031561786645789" />
 <xacro:property name="Iyz" value="3.0469654991140263e-07" />
 <xacro:property name="Izz" value="0.00016490261834593186" />
<xacro:property name="CoMx" value="-0.00934209933207732" />
<xacro:property name="CoMy" value="0.08422424437032273" />
<xacro:property name="CoMz" value="0.05002583291250119" />



<xacro:property name="r" value="${0.07/2}" />
<xacro:property name="h" value="0.1018" />
<xacro:property name="file_path" value="urdf/objects/tomato_soup/texture/textured.dae" />
<xacro:property name="mass" value="0.3" />


<link name="tomato_soup_link">
  
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 ${h/2}" />
      <mass value="${mass}" />
      <inertia ixx="${Ixx}" ixy="${Ixy}" ixz="${Ixz}" iyy="${Iyy}" iyz="${Iyz}" izz="${Izz}" />
    </inertial>
    
    <visual>
       <origin rpy="0 0 0" xyz="${-CoMx} ${-CoMy} ${-CoMz+h/2}" />
       <geometry>
        <mesh filename="package://motoman_description/${file_path}" />  
      </geometry>
     </visual>
     
    <collision>
      <origin rpy="0 0 0" xyz="0 0 ${h/2}" />
       <geometry>
         <cylinder radius="${r}" length="${h}" />
       </geometry>
     </collision>
     </link>
</robot>
